@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #150808;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #CFF8F8;
    color: #150808;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #CFF8F8;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #150808;
    padding: 10px;
}



#sidebar ul li a {
    color : #150808;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #CFF8F8;
    background: #1357d7;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #150808;
    background: #CFF8F8;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;

}


ul ul a {
    color: #fff;
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #CFF8F8;
}
.login-form {
    width: 385px;
    margin: 30px auto;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.register-form {
    width: 385px;
    margin: 30px auto;
}
.register-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.register-form h2 {
    margin: 0 0 15px;
}
.register-btn {
    font-size: 15px;
    font-weight: bold;
}

.registercharity-form {
    width: 385px;
    margin: 30px auto;
}
.registercharity-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.registercharity-form h2 {
    margin: 0 0 15px;
}
.registercharity-btn {
    font-size: 15px;
    font-weight: bold;
}
p.error{
    text-align: center;
    color: red;
}